@charset "utf-8";
/* 웹폰트 선언 */
@font-face {
    font-family: 'webcafeIcon';
    font-weight:400;
    src: url('font/webcafeIcon.eot');
    src: url('font/webcafeIcon.eot?#iefix') format('embedded-opentype'),
         url('font/webcafeIcon.woff') format('woff'),
         url('font/webcafeIcon.ttf') format('truetype'),
         url('font/webcafeIcon.svg#webcaferegular') format('svg');
}
@font-face {
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url('font/eot/NotoSansKR-Regular-Hestia.eot'),
    url('font/eot/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'),
    url('font/woff/NotoSansKR-Regular-Hestia.woff') format('woff'),
    url('font/otf/NotoSansKR-Regular-Hestia.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url('font/eot/NotoSansKR-Bold-Hestia.eot'),
    url('font/eot/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'),
    url('font/woff/NotoSansKR-Bold-Hestia.woff') format('woff'),
    url('font/otf/NotoSansKR-Bold-Hestia.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/* 요소의 여백 초기화 */
/*html, body, h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}*/
/* 제목크기 초기화 */
/*h1, h2, h3, h4{
    font-size: 1em;
    font-weight: normal;
}*/

/* 기본스타일 */
body{
    background: white;
    font-family: 'Noto Sans Regular', sans-serif;
    font-family: "돋움", Dotum;
}

/* 레이아웃 */
/* #=id  .=class  */
.wrapper{
    /*background-image: url(images/bg_flower.png), linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background-repeat: no-repeat, repeat;
    background-position: 50% 0 0 0;*/

    /*repeat은 배경이미지 반복하기*/
    /* 위 코드랑 아래코드랑 같음 단축표기법임 */

    background: url(images/bg_flower.png) no-repeat 50% 0, linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%) repeat 0 0;
    /*내가 찾던 바로 그것!*/
    background-attachment: fixed;
    height: 100vh;
}

.header, .visual, .main-content, .slogan, .footer{
    width: 940px;
    margin: 0 auto;
}
.header{
    /*box-sizing: border-box;*/
    background-color: #ffffff;
    border: 5px solid white;
    padding: 20px;
    /* 앞 0은 위 아래 , 뒤 50은 양 옆 */
    /*margin: 0 50px;*/
    /* auto 는 남은 면적 계산해서 해줌 */
    height: 115px;
    border-radius: 0 0 15px 15px;
}

.visual{
    height: 120px;
}

.main-content{
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
    min-height: 400px;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    /*justify-content: space-between;*/
    /*flex-direction 이놈이 콘텐츠를 가로방향 세로방향
    배치를 정해준다 디폴트는 row*/
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px 15px 0 0;
}

.group{
    /*background-color: pink;*/
}

.group1{
    width: 250px;
    background: linear-gradient(0deg, hotpink, yellow); 
}

.group2{
    width: 380px;
    background: linear-gradient(45deg, hotpink, yellow); 
}

.group3{
    width: 190px;
    background: linear-gradient(123deg, hotpink, yellow); 
    /*order: -1;*/
}
.slogan{
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    height: 10vh;
}

.footer{

    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    height: 10vh;
}