@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/* 웹폰트 선언 */

@font-face {
    font-family: 'webcafeIcon';
    font-weight: 400;
    src: url('font/webcafeIcon.eot');
    src: url('font/webcafeIcon.eot?#iefix') format('embedded-opentype'), url('font/webcafeIcon.woff') format('woff'), url('font/webcafeIcon.ttf') format('truetype'), url('font/webcafeIcon.svg#webcaferegular') format('svg');
}

@font-face {
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('font/eot/NotoSansKR-Regular-Hestia.eot'), url('font/eot/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Regular-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Regular-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('font/eot/NotoSansKR-Bold-Hestia.eot'), url('font/eot/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Bold-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Bold-Hestia.otf') format('opentype');
}


/* 요소의 여백 초기화 */


/*html, body, h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}*/


/* 제목크기 초기화 */


/*h1, h2, h3, h4{
    font-size: 1em;
    font-weight: normal;
}*/


/* 기본스타일 */

html {
    font-size: 10px;
}

body {
    background: white;
    font-family: 'Noto Sans Regular', sans-serif;
    font-family: "돋움", Dotum;
    font-size: 1.4rem;
}


/* 레이아웃 */


/* #=id  .=class  */

.wrapper {
    /*background-image: url(images/bg_flower.png), linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background-repeat: no-repeat, repeat;
    background-position: 50% 0 0 0;*/
    /*repeat은 배경이미지 반복하기*/
    /* 위 코드랑 아래코드랑 같음 단축표기법임 */
    background: url(images/sb.jpg) no-repeat 50% 0, linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    /*내가 찾던 바로 그것!*/
    background-attachment: fixed;
    height: 100%;
}

.header,
.visual,
.main-content,
.slogan,
.footer,
.p,
.ul,
.li {
    width: 940px;
    margin: 0 auto;
}


/* 링크 스타일 */

a {
    /* 너 값 사용하지말고 상속된 값 사용해 */
    color: inherit;
    /* 밑줄 제거 */
    text-decoration: none;
}


/* 헤더 */

.header {
    font-family: 'Noto Sans Bold';
    min-height: 100px;
    /*box-sizing: border-box;*/
    /*background-color: white;*/
    border: solid 20px #007042;
    /* 앞 0은 위 아래 , 뒤 50은 양 옆 */
    /*margin: 0 50px;*/
    /* auto 는 남은 면적 계산해서 해줌 */
    border-radius: 0 0 15px 15px;
    padding: 0 20px;
    /* relative 는 레이어 따로 빼서 왔다갔다 할 수 있게 !  */
    position: relative;
}


/* 로고 */

.logo {
    /*background: #007042;*/
    /* back to top 하고 싶다면 position: fixed;*/
    position: absolute;
    top: 120px;
    left: 30px;
}


/* 텍스트링크 - 안내링크 */

.info-menu {
    background: #007042;
    list-style-type: none;
    font-size: 0px;
    /* 우측정렬 */
    text-align: right;
    position: relative;
    right: -10px;
}


/* 손가락 터치 44 법칙 UI 가이드 */

.info-menu li,
.info-menu a {
    display: inline-block;
}

.info-menu li {
    background: #007042;
    /*display: inline;*/
    font-size: 1.4rem;
    text-transform: uppercase;
}

.info-menu a {
    padding: 10px;
    background: #007042;
    /*display: inline-block;*/
}

.info-menu li::before {
    /* 가상요소 */
    content: " # ";
}


/* li에서 마지막 놈만 선택하기 : last-child*/

.info-menu li:last-child::before {
    content: " # "
}


/* 메인 메뉴 */

.main-menu {
    background: linear-gradient(to bottom, #FFFFFF 0%, #F0ECE9 50%, #FFFFFF 100%);
    /* 메뉴들 점 빼기 */
    list-style-type: none;
    border-top: 2px solid #181818;
    /* 모서리 둥글게둥글게 */
    border-radius: 0 0 10px 10px;
    padding-left: 225px;
    height: 53px;
}

.main-menu>li {
    float: left;
}


/* 하위 ul안에있는 a에 영향을 주지 않기 위해 li 에 있는 a만 
선택할 수 있게 하위관계를 명확히 함 */

.main-menu>li>a {
    font-size: 1.6rem;
    font-size: "Noto Sans Bold";
    color: rgba(0, 0, 0, 0.9);
    padding: 14px 25.2px;
    /*background: red;*/
    display: block;
    border-left: 2px solid rgba(255, 255, 255, 0.9)
}

.main-menu ul {
    list-style-type: none;
    background: #007042;
    /* 인덱스 순서대로 출력됨 */
    position: absolute;
    display: none;
}

.visual {
    font-family: 'Noto Sans', sans-serif;
    height: 120px;
}

.main-content {
    font-family: 'Noto Sans Bold';
    background-color: #007042;
    min-height: 400px;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    /*justify-content: space-between;*/
    /*flex-direction 이놈이 콘텐츠를 가로방향 세로방향
    배치를 정해준다 디폴트는 row*/
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px 15px 0 0;
}

.group {
    /*background-color: pink;*/
}

.group1 {
    width: 250px;
    background: linear-gradient(0deg, #007042, #FFFFFF);
}

.group2 {
    width: 380px;
    background: linear-gradient(45deg, #007042, #FFFFFF);
}

.group3 {
    width: 190px;
    background: linear-gradient(123deg, #007042, #FFFFFF);
    /*order: -1;*/
}

.slogan {
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    height: 10vh;
}

.footer {
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    height: 10vh;
}